@font-face {
  font-family: "LexndDeca";
  src: url("../fonts/LexndDeca/LexendDeca-Regular.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "NotoSans-Light";
  src: url("../fonts/NotoSans/NotoSans-Light.ttf");
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf");
}

$primaryColor: #525ded;
$lightColor: #adadad;
$textColor: #333333;
