* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: #ffffff;
  font-family: "NotoSans";
  line-height: 1.5;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "LexndDeca";
  src: url("../fonts/LexndDeca/LexendDeca-Regular.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "NotoSans-Light";
  src: url("../fonts/NotoSans/NotoSans-Light.ttf");
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf");
}
.container {
  max-width: 1200px;
  padding: 0 5rem;
  margin: auto;
}

.textDecoration {
  text-decoration: none;
}
.textLh-18 {
  line-height: 18px;
}
.textColorLight {
  color: #adadad;
}
.textBold {
  font-weight: bold;
}
.textCenter {
  text-align: center;
}

.dFlex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.headingSub {
  color: #525ded;
}
.headingMain {
  color: #333333;
}

.fontSmallExtra {
  font-size: 16px;
}
.fontNormal {
  font-size: 18px;
}
.fontRegular {
  font-size: 20px;
}
.fontLarge {
  font-size: 24px;
}
.fontXL {
  font-size: 30px;
}
.fontXXL {
  font-size: 44px;
}
.fontNotoSans-Bold {
  font-family: "NotoSans-Bold";
}

.marginY-1 {
  margin: 1rem 0;
}
.marginTop-1 {
  margin-top: 1rem;
}
.marginTop-2 {
  margin-top: 2rem;
}
.marginX-1 {
  margin: 0 1rem;
}

.paddingY-3 {
  padding: 3rem 0;
}
.paddingY-5 {
  padding: 5rem 0;
}

.underline {
  -webkit-text-decoration: underline orange;
          text-decoration: underline orange;
}

.Mobile {
  display: none;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 20px;
  font-weight: 600;
  -webkit-appearance: none;
  cursor: pointer;
}
.btnPrimary {
  background-color: #525ded;
  border: 1px solid #525ded;
  color: #ffffff;
}
.btnPrimary:hover {
  background-color: transparent;
  color: #525ded;
  transition: ease 0.5s;
}
.btnSecondary {
  background-color: transparent;
  border: 1px solid #525ded;
  color: #525ded;
}
.btnSecondary:hover {
  background-color: #525ded;
  color: #ffffff;
  transition: ease 0.5s;
}
.btnLink {
  cursor: pointer;
  background-color: transparent;
  color: orange;
  border: none;
}
.btnWarning {
  background-color: #ffa500;
  color: #fff;
  border: 1px solid #ffa500;
}
.btnWarning:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: ease 0.5s;
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
    padding: 0 2rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 1rem;
  }
  .fontXXL {
    font-size: 35px;
  }
  .paddingY-5 {
    padding: 2.5rem 0;
  }
  .dFlexRev {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  .Desktop {
    display: none;
  }
  .Mobile {
    display: block;
  }
  .btn {
    padding: 0.9rem;
    font-size: 18px;
  }
  .dFlex {
    flex-direction: column;
  }
  .dFlexRev {
    flex-direction: column-reverse;
  }
}
@font-face {
  font-family: "LexndDeca";
  src: url("../fonts/LexndDeca/LexendDeca-Regular.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "NotoSans-Light";
  src: url("../fonts/NotoSans/NotoSans-Light.ttf");
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url("../fonts/NotoSans/NotoSans-Bold.ttf");
}
.headerContent {
  background: url("../../assets/showcase.jpg") no-repeat center center/cover;
  padding: 1rem;
  opacity: 1;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerContent h1 {
  z-index: 3;
  font-size: 4rem;
  line-height: 1.2;
  color: #ffffff;
}
.headerContent .lead {
  z-index: 3;
  color: #fff;
}
.headerContent button {
  z-index: 3;
}
.headerContent:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .headerContent h1 {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .headerContent h1 {
    font-size: 35px;
  }
}
.navbar {
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 4;
  width: 100%;
  padding: 2rem 0;
  font-family: "LexndDeca";
}
.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarNav {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  font-size: 20px;
}
.navbarLink {
  text-decoration: none;
  color: #adadad;
}
.navbarLink:hover {
  text-decoration: underline;
  transition: ease-in 0.5s;
}
.navbarLinkActive {
  text-decoration: none;
  color: #2c2c2c;
}
.navbarToggle {
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}
.navbarButton {
  color: #ffffff;
  background-color: #525ded;
  text-decoration: none;
  border: 1px solid #525ded;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
.navbarButton a {
  color: #ffffff;
}
.navbarButton:hover {
  background-color: transparent;
  color: #525ded;
  transition: ease 0.5s;
}

@media (max-width: 992px) {
  .navbarImageDiv {
    width: 50%;
  }
  .navbarContainer {
    flex-wrap: wrap;
  }
  .navbarToggle {
    width: 50%;
    display: block;
    font-size: 24px;
    text-align: right;
    z-index: 5;
  }
  .navbarNav {
    padding: 5rem 1rem;
    display: none;
    right: 0;
    position: fixed;
    height: 100vh;
    width: 60%;
    top: 0;
    font-size: 18px;
    flex-direction: column;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
  }
}
@media (max-width: 500px) {
  .navbar {
    padding: 1.5rem 0;
    height: -moz-max-content;
    height: max-content;
  }
  .navbarButton {
    margin-top: 2rem;
    padding: 0.9rem;
  }
}
.searchBox {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  margin-left: auto;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #525ded;
}
.searchBoxText {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 20px;
  margin-left: 0.5rem;
  font-weight: 500;
  color: #525ded;
}
.searchBoxText::-moz-placeholder {
  color: #525ded;
}
.searchBoxText::placeholder {
  color: #525ded;
}
.searchBoxButton {
  overflow: hidden;
  font-size: 24px;
  border: 1px solid transparent;
  background: transparent;
  color: #525ded;
}

@media (max-width: 992px) {
  .searchBox {
    margin: auto;
  }
  .searchBoxText {
    font-size: 18px;
  }
  .searchBoxButton {
    font-size: 20px;
  }
}
.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(82vw, 35vh, 26px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.76;
  height: 7px;
  width: 7px;
  animation-delay: -0.2s;
  transform: translate3d(33vw, 46vh, 52px);
  background: hsl(290, 70%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(80vw, 51vh, 92px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.59;
  height: 8px;
  width: 8px;
  animation-delay: -0.4s;
  transform: translate3d(19vw, 14vh, 86px);
  background: hsl(314, 70%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(12vw, 29vh, 49px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.6;
  height: 7px;
  width: 7px;
  animation-delay: -0.6s;
  transform: translate3d(35vw, 4vh, 32px);
  background: hsl(184, 70%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(63vw, 89vh, 51px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(67vw, 7vh, 29px);
  background: hsl(50, 70%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(47vw, 49vh, 26px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.58;
  height: 9px;
  width: 9px;
  animation-delay: -1s;
  transform: translate3d(46vw, 38vh, 64px);
  background: hsl(245, 70%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(6vw, 2vh, 81px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.14;
  height: 8px;
  width: 8px;
  animation-delay: -1.2s;
  transform: translate3d(56vw, 66vh, 10px);
  background: hsl(100, 70%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(75vw, 73vh, 57px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.69;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(83vw, 38vh, 14px);
  background: hsl(89, 70%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(74vw, 60vh, 77px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.57;
  height: 8px;
  width: 8px;
  animation-delay: -1.6s;
  transform: translate3d(8vw, 69vh, 45px);
  background: hsl(211, 70%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(27vw, 73vh, 24px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.4;
  height: 7px;
  width: 7px;
  animation-delay: -1.8s;
  transform: translate3d(9vw, 12vh, 47px);
  background: hsl(280, 70%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(78vw, 19vh, 29px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.64;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(37vw, 60vh, 45px);
  background: hsl(278, 70%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(83vw, 84vh, 87px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.66;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(52vw, 49vh, 42px);
  background: hsl(81, 70%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(10vw, 27vh, 20px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.52;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(86vw, 31vh, 30px);
  background: hsl(359, 70%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(78vw, 53vh, 9px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.17;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(80vw, 86vh, 39px);
  background: hsl(29, 70%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(65vw, 76vh, 3px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.84;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(16vw, 16vh, 41px);
  background: hsl(311, 70%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(60vw, 65vh, 68px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  animation-delay: -3s;
  transform: translate3d(33vw, 78vh, 75px);
  background: hsl(53, 70%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(81vw, 17vh, 56px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  animation-delay: -3.2s;
  transform: translate3d(32vw, 70vh, 60px);
  background: hsl(339, 70%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(30vw, 71vh, 87px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.94;
  height: 9px;
  width: 9px;
  animation-delay: -3.4s;
  transform: translate3d(90vw, 3vh, 90px);
  background: hsl(291, 70%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(60vw, 6vh, 6px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.19;
  height: 8px;
  width: 8px;
  animation-delay: -3.6s;
  transform: translate3d(24vw, 2vh, 33px);
  background: hsl(18, 70%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(60vw, 39vh, 33px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.65;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(57vw, 77vh, 14px);
  background: hsl(288, 70%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(81vw, 11vh, 73px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  animation-delay: -4s;
  transform: translate3d(36vw, 54vh, 26px);
  background: hsl(344, 70%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(62vw, 68vh, 19px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -4.2s;
  transform: translate3d(89vw, 88vh, 58px);
  background: hsl(192, 70%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(24vw, 41vh, 86px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.49;
  height: 6px;
  width: 6px;
  animation-delay: -4.4s;
  transform: translate3d(80vw, 81vh, 66px);
  background: hsl(88, 70%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(69vw, 45vh, 99px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.42;
  height: 8px;
  width: 8px;
  animation-delay: -4.6s;
  transform: translate3d(5vw, 10vh, 71px);
  background: hsl(81, 70%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(78vw, 64vh, 61px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.6;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(72vw, 39vh, 37px);
  background: hsl(147, 70%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(87vw, 35vh, 19px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.56;
  height: 7px;
  width: 7px;
  animation-delay: -5s;
  transform: translate3d(63vw, 1vh, 20px);
  background: hsl(243, 70%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(44vw, 49vh, 11px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.13;
  height: 8px;
  width: 8px;
  animation-delay: -5.2s;
  transform: translate3d(65vw, 3vh, 17px);
  background: hsl(83, 70%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(71vw, 71vh, 49px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.66;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(87vw, 64vh, 91px);
  background: hsl(315, 70%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(15vw, 17vh, 18px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.96;
  height: 6px;
  width: 6px;
  animation-delay: -5.6s;
  transform: translate3d(56vw, 62vh, 21px);
  background: hsl(340, 70%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(62vw, 17vh, 32px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.29;
  height: 9px;
  width: 9px;
  animation-delay: -5.8s;
  transform: translate3d(29vw, 43vh, 71px);
  background: hsl(240, 70%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(42vw, 58vh, 58px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.59;
  height: 6px;
  width: 6px;
  animation-delay: -6s;
  transform: translate3d(66vw, 52vh, 6px);
  background: hsl(312, 70%, 50%);
}

.footer {
  background-color: #fff;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: baseline;
  justify-items: center;
  padding: 2.5rem 0;
}
.footer h5 {
  font-family: "LexndDeca";
  font-size: 20px;
  color: #333333;
}
.footerList {
  color: #adadad;
  list-style-type: none;
}
.footer small {
  grid-column: 1/span 4;
  padding-top: 1rem;
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-family: "LexndDeca";
}
.footer form {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.footerFormInput {
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(221, 221, 221, 0.2352941176);
}
.footerFormButton {
  padding: 0.8rem 0.5rem;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 174, 0);
  color: #fff;
  font-size: 18px;
  -webkit-appearance: none;
}
.footerSocial {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 992px) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: left;
    padding: 1rem;
    gap: 1rem;
  }
  .footer small {
    grid-column: 1;
    justify-self: center;
  }
}
.bannerImageContainer {
  width: 100%;
  height: 100%;
  align-self: center;
}
.bannerImageContainer img {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=index.css.map */